@import "../App.css";

.transaction-container {
  margin: 7rem auto 0;
}
.transaction-form {
  margin: 3rem auto 3rem;
  border: 1px solid var(--main-color);
  border-radius: 6px;
  background-color: var(--background-color-dark);
  color: var(--main-color-dark);
}

.transaction-form.white {
  text-align: center;
  background-color: white;
}

.title {
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
}

@media (max-width: 600px) {
  .transaction-form.white {
    display: none !important;
  }
}
